* {
  margin: 0;
  padding: 0;
}

.rectangle {
	position: absolute;
	border: 4px solid black;
	border-radius: 8px 8px 8px 8px;

}

#footer-box {
	background-image: url("../images/bg-2-full.jpg");
}

#redbar {
  background: #c00 url("../images/redbg.png");
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 4px solid #fff;
  box-shadow: 0 2px 2px rgba(100, 100, 100, 0.5);
  z-index: 20;
}

#redbar .wrap {
  text-align: left;
  margin: 15px 132px 10px 132px;
}

#redbar .wrap img {
  margin-top: 2px;
}

#redbar .wrap .logged-in {
  display: none;
}
        
#redbar .wrap ul {
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
}

#redbar .wrap ul li {
  float: left;
  margin-left: 10px;
}

#redbar .wrap ul li a:link, #redbar .wrap ul li a:visited {
  font-weight: bold;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.10000000149011612s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: linear;
  background-attachment: scroll;
  background-clip: border-box;
  background-image: -webkit-linear-gradient(top, #c00, #b00);
  background-repeat: repeat-x;
  border-radius: 4px;
  border-left: 1px solid rgba(0, 0, 0, 0.0976563);
  border-right: 1px solid rgba(0, 0, 0, 0.0976563);
  border-top: 1px solid rgba(0, 0, 0, 0.0976563);
  border-bottom: 1px solid rgba(0, 0, 0, 0.246094);
  box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
  color: white;
  display: inline-block;
  font-size: 13px;
  line-height: normal;
  padding: 5px 10px 8px 10px;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;
}

#content1{
	margin: 20px auto;
  width: 800px;
  height: 350px;
  padding: 0px 20px 20px 20px;
	margin-bottom: 10px;
	margin-top: 8%;
	background-color: #46ADCC;
	border: 3px solid #000;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: -webkit-linear-gradient(#46ADCC, #ddd);
	background: -o-linear-gradient(#46ADCC, #ddd);
	background: -moz-linear-gradient(#46ADCC, #ddd);
	background: linear-gradient(#46ADCC, #ddd);
	text-align: center;

}

#content{
	margin: 20px auto;
  width: 800px;
  height: 400px;
  padding: 0px 20px 20px 20px;
	margin-bottom: 10px;
	margin-top: 2%;
	background-color: #46ADCC;
	border: 3px solid #000;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: -webkit-linear-gradient(#46ADCC, #ddd);
	background: -o-linear-gradient(#46ADCC, #ddd);
	background: -moz-linear-gradient(#46ADCC, #ddd);
	background: linear-gradient(#46ADCC, #ddd);
	text-align: center;
}

#content0{
	margin: 20px auto;
  width: 800px;
  height: 500px;
  padding: 0px 20px 20px 20px;
	margin-bottom: 10px;
	margin-top: 2%;
	background-color: #46ADCC;
	border: 3px solid #000;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: -webkit-linear-gradient(#46ADCC, #ddd);
	background: -o-linear-gradient(#46ADCC, #ddd);
	background: -moz-linear-gradient(#46ADCC, #ddd);
	background: linear-gradient(#46ADCC, #ddd);
	text-align: center;

}

#content0 li img{ width: 100px; height:100px; cursor:pointer;}
#content0 li { float:left;}
#content0 img.selected{ border:1px solid black;}

#side1 {
	float: left;
	width: 380px;
	font-size: 20px;

}

#side2 {
	text-align: center;
	font-size: 20px;
}




#footer {
  background: #c00 url("../images/redbg.png");
  width: 100%;
  border-top: 4px solid #fff;
  box-shadow: 0 2px 2px rgba(100, 100, 100, 0.5);
  z-index: 20;
}

#footer .wrap {
  text-align: left;
  margin: 15px 132px 0px 132px;
}

#footer .wrap img {
  margin-top: 2px;
}

#footer .wrap .logged-in {
  display: none;
}
        
#footer .wrap ul {
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
}

#footer .wrap ul li {
  float: left;
  margin-left: 10px;
}

#footer .wrap ul li a:link, #footer .wrap ul li a:visited {
  font-weight: bold;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.10000000149011612s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: linear;
  background-attachment: scroll;
  background-clip: border-box;
  background-image: -webkit-linear-gradient(top, #c00, #b00);
  background-repeat: repeat-x;
  border-radius: 4px;
  border-left: 1px solid rgba(0, 0, 0, 0.0976563);
  border-right: 1px solid rgba(0, 0, 0, 0.0976563);
  border-top: 1px solid rgba(0, 0, 0, 0.0976563);
  border-bottom: 1px solid rgba(0, 0, 0, 0.246094);
  box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
  color: white;
  display: inline-block;
  font-size: 13px;
  line-height: normal;
  padding: 5px 10px 8px 10px;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;
}





 /*'http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light|Indie+Flower' */